<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
    <Works i=1/>
    <Works2 i=1/>
    <Broken i=1/>
    <script src="//${out.global.req ? out.global.req.hostname : window.location.hostname}:3001/static/bundle.js"></script>
  </body>
</html>